<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a
        routerLink="/"
        class="navbar-brand" ><em>bestsellers.com</em></a>
    </div>

    <ul class="nav navbar-nav navbar-right">

      <!--<li><a routerLink="checkout"><div ><span class="glyphicon glyphicon-shopping-cart"  ><span class="basket_quantity">{{cart_quantity}}</span></span></div> </a></li>-->
      <li><shopping-basket></shopping-basket></li>
    </ul>
  </div>
</nav>


<app-books></app-books>
